.topnav {
    background-color: #042674;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

body{
    background-image: url("../img/david-preston-6fXbKCLBi58-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 300%;
}
h1 {
    color: #042674;
    text-align: center;
}
p{
    color: #F93260;
    text-align: center;
}

a{
    color: #F93260;
}

form{
    text-align: center;
}

input{
    width: 400px;
    height: 40px;
}